/* variables */
:root {
  /* fonts */
  --montserrat: "Montserrat", sans-serif;
  --roboto: "Roboto", sans-serif;
  --ubuntu: "Ubuntu", sans-serif;

  /* font-color */
  --font-color: #0c0a0a;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  color: var(--font-color);
}

p {
  font-family: var(--roboto);
}

h2,
h3,
h4,
h4,
h6 {
  font-family: var(--montserrat);
}

h1 {
  font-family: var(--montserrat);
}

.yif-logo {
  width: 10%;
  float: left;
}

.navbar-brand p {
  font-size: 20px;
}

.nav-link {
  font-family: var(--roboto);
  font-size: 18px;
}

/* title */
#title {
  margin-top: 4%;
  background-image: url("../../img/home/homepage_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 84%;
}

.heading {
  font-size: 70px;
  font-weight: bold;
  color: #f7761b;
  text-align: center;
  padding-top: 3%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* navbar */
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}
.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #f4623a;
}

.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.navbar-expand > .container,
.navbar-expand > .container-fluid,
.navbar-expand > .container-sm,
.navbar-expand > .container-md,
.navbar-expand > .container-lg,
.navbar-expand > .container-xl {
  padding-right: 0;
  padding-left: 0;
}
.navbar-expand .navbar-nav {
  flex-direction: row;
}
.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}
.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.navbar-expand > .container,
.navbar-expand > .container-fluid,
.navbar-expand > .container-sm,
.navbar-expand > .container-md,
.navbar-expand > .container-lg,
.navbar-expand > .container-xl {
  flex-wrap: nowrap;
}
.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}
.navbar-expand .navbar-toggler {
  display: none;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}
.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}
.navbar-light .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-dark .navbar-text a {
  color: #fff;
}
.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus {
  color: #fff;
}

/* masterhead */
.masterhead {
  height: 650px;
  opacity: 100%;
}

.masterhead .hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5%;
  grid-gap: 5%;
}


.infographic h2 {
  color: #0bbc11;
  font-weight: 500;
  font-size: 39px;
  text-align: center;

  margin: 0 20%;
  background:rgba(255, 255, 255,0.8);
  padding: 2%;
  border-radius: 30px;
}

.infographic p {
  color: black;
  max-width: 70%;
  font-size: 21px;
  line-height: 32px;
  word-spacing: 3px;
  text-align: left;
  margin: 4% auto 0 auto;
  padding: 3%;
  background: #fff;
  opacity: 58%;
  border-radius: 30px;
}

.hero img {
  display: block;
  margin: 0 auto;
  width: 510px;
  border-radius: 20px;
}

/* highlights */
#highlights{
  background-color: #F5B461;
  padding-bottom: 3%;
}

#highlights .highlight-intro {
  font-size: 37px;
  color:#085667;
  text-align: center;
  padding: 3%;
}

.highlights,
.state-teams {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
  margin: 0 5%;
  text-align: center;
  color: #ffffff;
}

.your-friend,
.e-school,
.e-commerce {
  padding: 5%;
  margin: 0 auto;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(162, 158, 158, 0.29);
}

.your-friend {
  background-color: #e84340;
}

.e-school {
  background-color: #4864fa;
}

.e-commerce {
  background-color: #06cb64;
}

.highlights i {
  padding: 2%;
  border: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  padding: 4%;
  margin-bottom: 4%;
}

.highlights h3 {
  font-size: 42px;
  font-weight: normal;
  margin-bottom: 3%;
}

.highlights p {
  font-size: 18px;
  width: 80%;
  margin: auto;
}

#state-teams{
  background-color: #8BCDCD;
  padding-bottom: 3%;
}

#state-teams h1 {
  font-weight: 500;
  font-size: 70px;
  color: #16697A;
  text-align: center;
  margin: 0 0 3% 0;
  padding-top: 3%;
}

.state-teams {
  background: url("../../img/home/bg_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  grid-gap: 3%;
}

.west-bengal,
.odhisha,
.delhi,
.maharashtra,
.tamil-nadu,
.others {
  margin: 0 auto;
  padding: 20%;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
  width: 286px;
  height: 303px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
}

.state-teams h3 {
  font-family: var(--roboto);
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.west-bengal {
  background: url("../../img/home/bengal_logo.jpeg");
}

.odhisha {
  background: url("../../img/home/odhisha_logo.jpeg");
}

.delhi {
  background: url("../../img/home/delhi_logo.jpeg");
}

.maharashtra {
  background: url("../../img/home/maharashtra_logo.jpeg");
}

.tamil-nadu {
  background: url("../../img/home/tamilnadu_logo.jpeg");
}

.others {
  background: url("../../img/home/karnataka_logo.png");
}

.odhisha h3 {
  font-size: 43px;
}

.outreach {
  opacity: 0.7;
  margin-top: 0rem;
  height: 570px;
  background-attachment: fixed;
}

.outreach2 {
  background-color: #ffc7c7;
  border-radius: 50px;
  opacity: 0.8;
  padding: 0 8px 0 8px;
  margin: 1.5rem auto !important;
}

.outreach h1 {
  margin: 1rem auto;
  text-align: center;
  color: darkblue;
}

.outreach p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: black;
  padding: 1rem;
  font-size: 18px;
  line-height: 1.7;
}

#services {
  background-color: #B8DE6F;
  padding: 3% 0;
}

#services .services1 {
  background-color: #f3c690;
  border-radius: 10%;
}

#services h5 {
  padding: 2rem;
  font-size: 25px;
  border-left: 1rem;
}

.btnreadmore {
  margin-left: 10rem;
  font-size: 25px;
  border-radius: 20px;
  padding: 1rem 3.5rem;
  text-align: center;
  background: orange;
  color: white;
}

#service {
  background-color: #86D5EE;
  padding: 3% 0;
}

.section-title {
  margin-left: 5rem;
  color: brown;
}

#founder{
  background-color: #86D5EE;
  padding: 2% 0;
}

#founder h1{
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  color: #16697A;
  font-weight: 600;
  padding: 1% 0 2% 0;
}

.founder{
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-gap:2%;
}

.founder-img{  
  padding:0 0 0 10%;
  width: 100%;
}

.founder-about{
  font-size: 23px;
  font-weight: normal;
  color: #353434;
  text-align: left;
  margin: auto;
  max-width: 80%;
}

.founder-about h4, .founder-about h5{
  font-weight: 600;
}

#contact{
  background-color: #F5B461;
  padding-top: 2%;
}

.git {
  font-size: 60px;
  color: #DB6400;
  font-weight: 600;
}

hr {
  width: 50%;
  border: 1px solid #DB6400;
  margin-left: 350px;
}
.contact-form {
  background-color: #06cb64;
  border-radius: 25px;
  margin-top: 2rem;
  margin-bottom: 5%;
  width: 70%;
  padding: 20px;
  height: 500px;
  margin: 40px 0 50px 200px;
}

.contact-form .card {
  height: 400px;
  width: 300px;
  border-radius: 20px;
  margin-left: 80px;
}

.contact-form .form-control {
  border-radius: 1rem;
  border: 2px solid #39ff14;
}

.contact-form h2 {
  font-size: 55px;
  color: white;
  margin-bottom: 8%;
  text-align: center;
  padding-top: 10px;
}

.contact-form p {
  font-size: 20px;
  color: white;
}

.contact-form .emailid {
  color: #39ff14;
}
.btnContact {
  background: orange;
  font-size: 20px;
  color: white;
}

/* footer */
#footer {
  background: #FD8C0C;
  text-align: center;
}

.footer-links{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2%;
  max-width: 20%;
  margin: 0 auto;
  padding-top: 1%;
  align-items: center;
  justify-content: center;
}

.social-link{
  width: 55px;
  height: 55px;
  background-color: #01FF44;
  border-radius: 50%;
}
.social-link:hover{
  background-color:#FF6600;
  transition: 0.5s ease;
}

.social-link i{
  color:#FD8C0C;
  padding-top: 23%;
}
.social-link i:hover{
  color:#01ff44;
  transition: 0.5s ease;
}

.footnote{
  padding: 1% 0 0 0;
  margin: 0;
}